@use "sass:map";
@import "../../../styles/colors";

.AssetCard {
  background-color: transparent;
  border: 2px solid transparent;
  width: 120px;
  justify-content: center;

  &:hover {
    border-color: map.get($grey, "A50");
  }

  .AssetCardContent {
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;

    .Header {
      display: flex;
      width: 100%;
      padding: 0.1rem;
      justify-content: flex-end;
    }

    .Media {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
    }
  }
  .TextShip {
    font-size: 10px;
  }
}

.AssetCardActive {
  border-color: map.get($primary, "light") !important;
}
