@use "sass:map";
@import "../../styles/variables";

.MainLayout {
  min-height: 100vh;
  width: 100%;
  display: grid;
  overflow-y: auto;

  @media (max-width: 1199px) {
    grid-template: 1 / auto;
    grid-template-areas:
      "H"
      "M";
  }

  @media (min-width: 1200px) {
    grid-template: 1/2;
    grid-template-areas:
      "H"
      "M";
  }

  .Header {
    grid-area: H;
  }

  .Main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: M;
    overflow: auto;
    height: calc(100vh - #{$headerHeight});
    min-height: 750px;
    padding-bottom: $headerHeight;
    background-color:  map.get($grey, 900);

    .MainWrapper {
      width: $monitorSize;
      height: $monitorSize;
      min-width: $minMonitorSize;
      min-height: $minMonitorSize;
      position: relative;
      padding: 10px;
      @media (max-width: 1199px) {
        padding: 4rem;
      }
    }

    .MonitorFrame {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: contain;
      background-image: url("../../../public/images/monitor_frame.png");
      background-repeat: no-repeat;
      pointer-events: none;
    }

    .MonitorContent {
      $monitorContentSize: calc(#{$monitorSize} - #{20px});
      $minMonitorContentSize: calc(#{$minMonitorSize} - #{20px});
      content: " ";
      position: absolute;
      top: 10px;
      left: 10px;
      width: $monitorContentSize;
      height: $monitorContentSize;
      min-width: $minMonitorContentSize;
      min-height: $minMonitorContentSize;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }
  }
}
