@import "../../styles/variables";

.MainLayout {
  min-height: 100vh;
  width: 100%;
  display: grid;
  overflow-y: auto;

  @media (max-width: $lg - 1  + "px") {
    grid-template: 1 / auto;
    grid-template-areas:
      "H"
      "M";
  }

  @media (min-width: $lg + "px") {
    grid-template: 1/2;
    grid-template-areas:
      "H"
      "M";
  }

  .Header {
    grid-area: H;
  }

  .Main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: M;
    overflow: auto;
    min-height: calc(100vh - #{$headerHeight});
    max-height: calc(100vh - #{$headerHeight});

    //TODO: Remove with proper theming colors
    background-color: #1C0D28;

    .MainWrapper {
      width: $monitorSize;
      height: $monitorSize;
      position: relative;
      padding: 10px;
      @media (max-width: $lg - 1  + "px") {
        padding: 4rem;
      }
    }

    .MonitorContent {
      content: " ";
      position: absolute;
      top: 3px;
      left: 3px;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }

    .MonitorFrame {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: contain;
      background-image: url("../../../public/images/monitor_frame.png");
      background-repeat: no-repeat;
    }
  }

}
