@import "../../styles/colors";

.ShipPage {
  text-align: center;
  border-radius: 10px;
  background-color: transparent;

  .EmailInput {
    height: 3rem;
    color: white;
  }

  .EmailButton {
    text-transform: none;
    color: white;
    background-color: $pepper-70;
    font-weight: 700;
  }
}