$pepper-70: #f5c000 !default !global;

$primary: (
  50: #ece3ff,
  100: #d5c2ff,
  200: #b18eff,
  300: #8c5ef1,
  400: #8749ea,
  500: #8134e2,
  600: #7609d2,
  700: #600aa8,
  800: #490b7d,
  900: #330c53,
  "main": #7609d2,
  "light": #8c5ef1,
  "dark": #490b7d,
  "contrastText": rgba(255, 255, 255, 0.87),
) !default !global;

$secondary: (
  "main": #ffce1f,
  "light": #ffe070,
  "dark": #e0b000,
  "contrastText": rgba(0, 0, 0, 0.87),
) !default !global;

$grey: (
  50: #e9e7eb,
  100: #d3cfd6,
  200: #bdb7c2,
  300: #a79ead,
  400: #918699,
  500: #61447a,
  600: #330c53,
  700: #280d3e,
  800: #220d33,
  900: #1c0d28,
  "A90": rgba(255, 255, 255, 0.9),
  "A70": rgba(255, 255, 255, 0.7),
  "A50": rgba(255, 255, 255, 0.5),
  "A30": rgba(255, 255, 255, 0.3),
  "A20": rgba(255, 255, 255, 0.2),
  "A10": rgba(255, 255, 255, 0.1),
);
