$pepper-70: #f5c000 !default !global;

$primary: (
        50: #ECE3FF,
        100: #D5C2FF,
        200: #B18EFF,
        300: #8C5EF1,
        400: #8749EA,
        500: #8134E2,
        600: #7609D2,
        700: #600AA8,
        800: #490B7D,
        900: #330C53,
        "main": #7609D2,
        "light": #8C5EF1,
        "dark": #490B7D,
        "contrastText": rgba(255,255,255,0.87),
) !default !global;

$primary: (
        "main": #FFCE1F,
        "light": #FFE070,
        "dark": #E0B000,
        "contrastText": rgba(0, 0, 0, 0.87),
) !default !global;

$grey: (
        50: #E9E7EB,
        100: #D3CFD6,
        200: #BDB7C2,
        300: #A79EAD,
        400: #918699,
        500: #61447A,
        600: #330C53,
        700: #280D3E,
        800: #220D33,
        900: #1C0D28,
        "A90": rgba(255,255,255,.9),
        "A70": rgba(255,255,255,.7),
        "A50": rgba(255,255,255,.5),
        "A30": rgba(255,255,255,.3),
        "A20": rgba(255,255,255,.2),
        "A10": rgba(255,255,255,.1),
)