@import "breakpoints.module";
@import "./colors";

$phi: 1.618;

$leftPanelWidth: 300px;
$leftPanelHeight: 100vh;

$rightPanelWidth: 300px;
$rightPanelHeight: 100vh;

$headerHeight: 60px;
$headerWidth: 100vw;

$webkit-ScrollbarWidth: 0.5rem;
