.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../../../public/images/space.png");
}

.GameOver {
  display: flex;
  justify-content: center;
  //align-items: center;
  height: 100%;
}

.gameCanvas {
  height: calc(100% - 10vh);
  width: calc(100% - 10vh);
}