@import "../../../styles/variables";

$headerHeight: 6vh;
$footerHeight: 14vh;

.ModalWrapper {
  position: absolute;
  //overflow: scroll;
  //min-height: 50rem;
  //min-width: 50rem;
  @media (max-height: 750px) {
    overflow: scroll;
  }

  .Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30vw;
    min-height: 35vh;
    max-width: 80vw;
    max-height: 80vh;
    background-color: $cool-gray-100;
    border-radius: 15px;
    //justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;

    @media (max-width: $lg - 1 + "px") {
      max-width: 80vw;
    }

    //@media (max-width: $md - 1 + "px") {
    //  width: 75vw;
    //  max-width: 90vw;
    //}

    @media (max-width: $sm - 1 + "px") {
      width: 100vw;
      max-width: 100vw;
      top: unset;
      //left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      animation: appearFromBottom 1s;
    }

    @media (max-height: 900px) {
      max-height: 85vh;
    }

    @media (max-height: 800px) {
      max-height: 90vh;
    }

    @media (max-height: 750px) {
      min-height: 600px;
    }

    .Header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 1.5rem 1.5rem 1.5rem 2.5rem;
      justify-content: space-between;
      align-items: center;
      height: $headerHeight;
    }

    .Footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem 1.5rem 1.5rem 2.5rem;
      height: $footerHeight;
      margin: 0;
    }

    .Background {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40%;
      width: 40%;
      //opacity: 0.8;
      background-repeat: no-repeat;
      background-position: bottom -3rem right -2rem;
      background-size: contain;
      border-bottom-right-radius: 15px;
    }
  }

  .ModalBody {
    flex: 1;
    margin-top: $headerHeight;
    max-width: 90vw;
    min-width: 20vw;
    //margin-bottom: $footerHeight;
    @media (max-width: $sm - 1 + "px") {
      max-width: 100%;
    }
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
