@import "../../styles/variables";
@import "../../styles/breakpoints.module";

.Header {
  position: relative;
  width: 100%;
  grid-area: H;
  //TODO: Remove with proper theming colors
  background-color: #1c0d28;
  background-image: none;
  height: $headerHeight;

  .LeftBox {
    margin: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
  }

  .LogoutButton {
    display: flex;
    color: white;
    text-transform: capitalize;
    min-width: 5rem;

    &:hover {
      margin-left: 1rem;
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}
