@import "../../styles/colors";

.Login {
  padding:3rem;
  text-align:center;
  width: 400PX;
  border-radius: 10px;
  background-color: transparent;
  .EmailInput {
    height: 3rem;
    color:white;
  }

  .EmailButton {
    height: 3.2rem;
    text-transform: none;
    color:$pepper-40;
  }
}